.menu{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    padding: 1rem;
    background-color: var(--primary);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 99;
}

.line{
    display: none;
}

.menu ul{

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 1.5rem;
    list-style: none;
    padding: 15rem 1rem;
}

.menu ul li{
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--white);
    text-align: right;
}

.datetime{
    font-size: 0.9rem;
    color: var(--white);
    align-self: flex-start;
}

@media screen and (min-width: 768px) {

    .menu{
        flex-direction: row;
        justify-content: space-between;
    }

    .line{
        display: block;
        position: absolute;
        top: 2.5rem;
        right: calc(2rem + 15px);
    }

    .menu ul{
        gap: 2rem;
        padding: 5rem;
    }

    .menu ul li{
        font-size: 2.5rem;
        font-weight: 700;
        color: var(--white);
    }

    .datetime{
        align-self: flex-end;
    }
}