@tailwind base;
@tailwind components;
@tailwind utilities;

/* Light mode colors */
:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #bf00ff;
  --primary-light: #e69cff;
  --primary-dark: rgba(191, 0, 255, 0.8);
  --border: rgba(23, 23, 23, 0.1);
}

/* Dark mode colors */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --primary: #bf00ff;
    --primary-light: rgba(191, 0, 255, 0.2);
    --primary-dark: rgba(191, 0, 255, 0.8);
    --border: rgba(237, 237, 237, 0.1);
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: futura;
}

[cmdk-dialog] {
  animation: slideIn 0.1s ease-out;
}

/* Remove the [cmdk-dialog] styles and replace with: */

@keyframes overlayShow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes contentShow {
  from {
    opacity: 0;
    transform: translate(-50%, -48%) scale(0.96);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}

[cmdk-group-heading] {
  color: var(--foreground-500);
  font-size: 0.8rem;
  font-weight: 500;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translate(-50%, -10px);
  }
  to {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}
