@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root {
  --white: #FFFFFF;
  --black: #000000;
  --primary: #EB5353;
  --primary-light: #F8D7DA;
  --primary-dark: #C92A2A;
  --secondary: #1e8ed3;
  --secondary-light: #ebedf3;
  --secondary-dark: #1a6e9f;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
}

*::selection{
  background-color: var(--black);
  color: var(--white);
}

html,
body {
  font-size: 16px;
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  letter-spacing: 1.2px;
}

p{
  letter-spacing: 0.576px;
}
