.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
    padding: 1rem;
    gap: 10rem;
}

.sectionHead{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;

    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.sectionHead::before {
    content: '';
    display: block;
    width: 7px;
    height: 2rem;
    border-radius: 10px;
    background-color: var(--primary);
    margin-bottom: 0.5rem;
}

.menuBtn{
    position: absolute;
    top: 2.2rem;
    right: 1rem;
    z-index: 99;
}

.menuBtn button{
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 100px;
    cursor: pointer;
}

.hero{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    width: 100%;
}

.hero button{
    display: none;
}

.title{
  font-family: 'Playfair Display', serif;
  font-size: 2.5rem;
  margin-bottom: 1rem;
  /*align-self: flex-start;*/
}

.title::before {
  content: '';
  display: block;
  width: 2rem;
  height: 7px;
  border-radius: 10px;
  background-color: var(--primary);
  margin-bottom: 0.5rem;
}

.meimg{
    aspect-ratio: 2/2.5;
    width: 100%;
    height: auto;
    border-radius: 20px;
    object-fit: cover;
}

.tasks{
    gap: 1rem;
}

.tasks ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.tasks li{
    font-size: 1.2rem;
    font-weight: 400;
}


.netgarage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.netgarage img{
    /*width: 80%;*/
    width: 350px;
    height: auto;
    object-fit: cover;
    margin-bottom: 3rem;
}

.netgarageText{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.netgarage h3{
    text-align: center;
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 600;
    margin-bottom: 1rem;
}

.netgarage p{
    text-align: center;
    font-size: 1.1rem;
    font-style: normal;
    font-weight: 400;

}

.netgarage button{
    cursor: pointer;
}

.ngVideo{
    width: 100%;
    height: auto;
}

.ngVideo video{
    aspect-ratio: 16/9;
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 20px;
}

.stack {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.stack .sectionHead{
    padding: 0 1rem;
}

.stackItems{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    overflow-x: scroll;
    width: calc(100vw - 2rem);
    background-color: var(--black);
    height: 100%;
    padding: 1rem;
    border-radius: 20px;
}

.stackItem{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    padding: 1rem 0.7rem;
    background-color: rgba(255, 255, 255, 0);
    color: var(--white);
    border-radius: 20px;
}

.projects{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
    width: 100%;
}

.projectSlider{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
    height: 100%;
    overflow-x: scroll;
}

.blogs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 100%;
}

.navBtns{
    display: none;
}

.contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 100%;
}

.contactContainer{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}

.blackbox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    background-color: var(--black);
    color: var(--white);
    border-radius: 20px;
    width: 100%;
    height: 7rem;
    transition: 200ms ease-in-out;
}

.blackbox:hover{
    transform: scale(0.97);
    background-color: var(--secondary);
}

#mail{
    grid-column: 1/4;
}

#medium{
    grid-column: 1/2;
}

#linkedin{
    grid-column: 2/3;
}

#github{
    grid-column: 3/4;
}


@media screen and (min-width: 768px) {

    .main{
        padding: 2rem;
    }

    .menuBtn{
        position: fixed;
        top: 2rem;
        right: 2rem;
    }

    .hero{
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1rem;
        justify-content: center;
        align-items: center;
    }

    .hero button{
        display: flex;
        position: absolute;
        bottom: 2rem;
        right: 2rem;
        /*box-shadow: #EB5353 0px 0px 10px;*/
        animation: pulse 1s infinite;
    }

    .meimg{
        grid-row: 1/2;
        grid-column: 1/2;
        height: calc(100vh - 4rem);
    }

    .title::before {
        width: 2.5rem;
    }

    .title{
        grid-column: 2/3;
        font-size: 2.5rem;
        margin-left: 3rem;
    }

    .tasks{

    }

    .tasks li{
        font-size: 1.5rem;
        font-weight: 300;
    }

    .netgarage{
        flex-direction: row-reverse;
        justify-content: space-around;
        align-items: center;
        margin: 0 10rem;
        height: 40vh;
    }

    .netgarage img{
        width: 50%;
        height: auto;
        object-fit: cover;
        margin-bottom: 0;
    }

    .netgarageText{
        justify-content: flex-end;
        align-items: flex-start;
        max-width: 400px;
    }

    .netgarageText h3{
        text-align: left;
    }

    .netgarageText p{
        text-align: left;
    }

    .netgarage a{
        margin-top: 1.5rem;
    }

    .ngVideo video{
        aspect-ratio: 16/9;
        width: 100%;
        height: auto;
        max-height: 80vh;
        object-fit: cover;
        border-radius: 20px;
    }

    .stack{
        padding-top: 3rem;
        background-color: #eaebed;
    }

    .stack .sectionHead{
        padding: 0 2rem;
    }

    .stack .stackItems{
        background-color: rgba(255, 255, 255, 0.5);
        gap: 2rem;
        border-radius: 0;
        width: 100%;
        padding: 0.25rem;
        margin-bottom: 1rem;
    }

    .itemsWrapper{
        display: flex;
        flex-direction: row;
        animation: marquee 20s linear infinite;
    }

    @keyframes marquee {
        0% {
            transform: translateX(100%);
        }
        100% {
            transform: translateX(-100%);
        }
    }

    .stack .stackItem{
        justify-content: flex-start;
        /*background-color: rgba(255, 255, 255, 0.5);*/
        padding: 1rem 1.2rem;
        flex-direction: row;
        color: var(--black);
    }

    .projectSlider{
        height: 35rem;
    }

    .contactContainer{
        grid-template-columns: repeat(6, 1fr);
    }

    .blackbox{
        height: 13rem;
    }

    #mail{
        border-radius: 60px 20px 20px 60px;
        grid-column: 1/4;
    }

    #medium{
        grid-column: 4/5;
    }

    #linkedin{
        grid-column: 5/6;
    }

    #github{
        grid-column: 6/7;
        border-radius: 20px 60px 60px 20px;
    }
}


/*Special Tests*/
