.slide{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background-color: var(--secondary-light);
}

.projectImg{
    aspect-ratio: 1/1;
    width: 100%;
    height: auto;
    border-radius: 60px;
}

.projectContent{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 1.5rem;
    height: 100%;
    width: 100%;
    padding: 2rem;

}

.projectInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
    height: 100%;
    transform: translateY(10%);
}

.projectInfo p{
    width: 100%;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    letter-spacing: 0.24px;
}

.projectLinks{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
}

/**/
/*Slider Styles*/
/**/

.sliderWrapper{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border: 2px solid #e5e5f4;
    border-radius: 60px;
}

.navBtns{
    position: absolute;
    top: 2rem;
    right: 2rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.navBtns button{
    background-color: var(--white);
    border: solid 2px #e3e3e3;
    color: var(--black);
    border: none;
    border-radius: 5rem;
    font-size: 1.3rem;
    padding: 0.7rem 2rem;
    cursor: pointer;
}

.sliderWrapper button{
    text-wrap: nowrap;
    width: 100%;
    padding: 1.1rem 1.3rem;
}

@media screen and (min-width: 768px){

    .slide{
        flex-direction: row;
    }

    .slide img{
        height: 100%;
        width: auto;
    }

    .projectInfo p{
        width: 80%;
    }

    .projectLinks{
        justify-content: flex-end;
    }

    .sliderWrapper button{
        text-wrap: nowrap;
        width: auto;
        padding: 1.1rem 1.3rem;
    }

}
